@import url(https://fonts.googleapis.com/css?family=Asap);

.container {
    padding-top: 20px;
    max-width: 680px;
    margin-bottom: 30px;
    font-family: 'Asap', sans-serif;
    color: #292929;
    font-size: 16px
}


#jumbo {
    display: flex;
    justify-content: center;
    background-color: #36FFA5;
    border-radius: 5px
}

#jumboHeader {
    color: white;
    font-size: 4.5rem;
}

@media (min-width: 500px){
    .container {
        width: 80%;
    }
}

@media (min-width: 400px){
    .container {
        width: 85%;
    }
}

h4 {
    font-size: 22px !important;  
}

a:visited {
    color: #075231;
}

a {
    color: #34AB76;
}